.registration-layout{
  padding:20px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: flexbox;
  position: fixed;
  Top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:left;
  font-style: normal;
  font-weight: bolder;
  background-color: rgb(189, 195, 201);
  color: black;  

}
.registration-form {
margin-top: 5px;
margin-bottom: 5px;
color: black;
display: inline-flexbox;

  }

.register-bt{
  display: inline-block;
  text-align:center;
  margin-top: 5px;
  }

.back-bt{
  display: inline-block;
  text-align:center;
  margin-top: 5px;
  display: flexbox
 }