
.registration-form {
margin-top: 30px;
color: black;
display: inline-flexbox;
  }

.register-bt{
  display: inline-block;
  text-align:center;
  margin-top: 30px;
  }

.back-bt{
  display: inline-block;
  text-align:center;
  margin-top: 30px;
  display: flexbox
 }