.profile-view{
  padding:25px;
  margin-top: 10px;
  display: flexbox;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:left;
  font-style: normal;
  font-weight: bolder;
  background-color: rgb(189, 195, 201);
  color: black;  

}

.back-bt{
  margin-top: 30px;
  margin-right: 10px;
}

.profile-updatecard{
  padding:25px;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flexbox;
  margin-left: 15px;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  }

  .profile-value{
  font-style: normal;
  font-weight: bold;
  background-color: rgb(212, 219, 226);
  color: black;  

  }

  .card-movietext{
    text-align:left;
    margin-left: 20px;
  }
