.director-view{
  margin-top: 20px;
  padding: 25px;
  }
  
      
  .label {
    margin-top: 20px;
    font-weight: bolder;
    color: black;
    text-align: left;
    display: flexbox;
  
  }
  
  .value{  
    margin-top: 20px;
    text-align: left;
    display: flexbox;
    padding: 5px;
  }
  
  .back-bt {  
    padding: 5px;
    margin-top: 20px;
    font-weight: bolder;
    color: black;
    text-align: left;
    
  }